.add-expense {
  height: 47.5%;
  position: relative;
  &__header-container {
    border-bottom: 2px solid $border-color;
  }
  &__header {
    @include card-header-text;
  }
  &__form {
    padding: 18px;
  }
  &__action {
    position: absolute;
    background-color: $light-blue;
    border: none;
    color: $blue-text;
    @include text(14px, 14px);
    border-radius: 28px;
    width: 120px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
    top: 6px;
    right: 6px;
    &:hover {
      background-color: $accent-blue;
      color: $white;
    }
  }
}
