.calendar {
  &__current-date {
    @include subheader(14px, 16px);
    color: $black;
    margin: 24px;
  }
  &__weekly {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 16px;
    border-bottom: 2px solid $border-color;
  }
  &__item {
    text-align: center;
  }
  &__day {
    @include text(14px, 14px);
    color: $table-gray;
  }
  &__date {
    @include text(14px, 14px);
    color: $table-black;
  }
}
