.chart {
  height: 47.5%;
  &__header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $border-color;
  }
  &__select-container {
    display: flex;
  }
  &__header {
    @include card-header-text;
  }
}
