// GLOBAL //
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: $bg-color;
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
