@mixin header($font-size, $line-height) {
  font-family: "Poppins-Bold";
  font-size: $font-size;
  line-height: $line-height;
}
@mixin subheader($font-size, $line-height) {
  font-family: "Poppins-Semi";
  font-size: $font-size;
  line-height: $line-height;
}
@mixin text($font-size, $line-height) {
  font-family: "Poppins-Regular";
  font-size: $font-size;
  line-height: $line-height;
}

@mixin card-header-text {
  @include subheader(16px, 14px);
  color: $black;
  margin: 16px 0 12px 24px;
}
