.transaction-list {
  &__header {
    @include subheader(20px, 18px);
    margin-left: 16px;
  }
  &__table {
    width: 100%;
    text-align: left;
    padding: 0 32px;
    table-layout: fixed;
    border-spacing: 0;
  }
  &__column {
    th {
      @include subheader(14px, 14px);
      color: $table-gray;
      height: 32px;
      padding: 0;
      &:last-child {
        text-align: right;
      }
    }
  }
  &__row {
    &:hover {
      background-color: rgba($color: $table-gray, $alpha: 0.15);
    }
    td {
      @include text(14px, 14px);
      color: $table-gray;
      padding: 0;
      border-bottom: 1px solid $border-color;
      height: 32px;
      &:first-child {
        color: $table-black;
      }
      &:last-child {
        text-align: right;
        color: $table-black;
      }
    }
  }
}
