@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Semi";
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #e5e5e5;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.side-nav {
  width: 300px;
  border-right: 2px solid #f8f8f8;
  padding-top: 40px;
  padding-left: 32px;
}

.side-nav__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav__header-text {
  color: #334d6e;
  margin-left: 8px;
  font-family: "Poppins-Semi";
  font-size: 16px;
}

.side-nav__logo {
  width: 36px;
}

.side-nav__items {
  margin-top: 48px;
}

.side-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  height: 39px;
  padding: 0 16px;
  background-color: #f0f7ff;
  border-radius: 28px;
}

.side-nav__item-text {
  padding-left: 10px;
  color: #197bbd;
  font-family: "Poppins-Regular";
  font-size: 14px;
}

.card {
  border-radius: 28px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 90vh;
  background-color: #fff;
}

.expense-overview__container {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.expense-overview__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
}

.expense-overview__header {
  font-family: "Poppins-Bold";
  font-size: 42px;
  line-height: 32px;
  color: #323c47;
  margin: 0;
}

.expense-overview__subheader {
  font-family: "Poppins-Regular";
  font-size: 16px;
  line-height: 16px;
  color: #707683;
  margin: 16px 0;
}

.expense-overview__content-container {
  width: 60%;
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

.chart {
  height: 47.5%;
}

.chart__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #f8f8f8;
}

.chart__select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chart__header {
  font-family: "Poppins-Semi";
  font-size: 16px;
  line-height: 14px;
  color: #192a3e;
  margin: 16px 0 12px 24px;
}

.add-expense {
  height: 47.5%;
}

.calendar__current-date {
  font-family: "Poppins-Semi";
  font-size: 14px;
  line-height: 16px;
  color: #192a3e;
  margin: 24px;
}

.calendar__weekly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 16px;
  border-bottom: 2px solid #f8f8f8;
}

.calendar__item {
  text-align: center;
}

.calendar__day {
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #707683;
}

.calendar__date {
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #323c47;
}

.transaction-list__header {
  font-family: "Poppins-Semi";
  font-size: 20px;
  line-height: 18px;
  margin-left: 16px;
}

.transaction-list__table {
  width: 100%;
  text-align: left;
  padding: 0 32px;
  border-spacing: 0;
}

.transaction-list__column th {
  font-family: "Poppins-Semi";
  font-size: 14px;
  line-height: 14px;
  color: #707683;
  height: 32px;
  padding: 0;
}

.transaction-list__column th:last-child {
  text-align: right;
}

.transaction-list__row:hover {
  background-color: rgba(112, 118, 131, 0.15);
}

.transaction-list__row td {
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #707683;
  padding: 0;
  border-bottom: 1px solid #f8f8f8;
  height: 32px;
}

.transaction-list__row td:first-child {
  color: #323c47;
}

.transaction-list__row td:last-child {
  text-align: right;
  color: #323c47;
}
/*# sourceMappingURL=main.css.map */